* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 15px;
}

/* ----------------------------------------HEADER-ALL----------------------------------- */

header {
    height: max-content;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

/* ---------------------------------------NAV-ALL--------------------------------------- */

nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 10;
}

.resp-navcontenedormayor {
    display: none;
}

.nav-contenedor-ul {
    height: max-content;
    width: 100%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.476);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.nav-contenedor-ul a {
    display: flex;
    height: 100%;
    font-family: "Libre Baskerville", serif;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: rgb(211, 186, 43);
}

.nav-contenedor-ul li {
    order: 2;
}

.nav-contenedor-ul li :hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(255, 205, 140);
}

.nav-contenedor-div {
    order: 1;
}

.nav-contenedor-div img {
    position: relative;
    width: 10em;
    height: 10em;
}

.nav-contenedor-buscador {
    order: 3;
}

.nav-contenedor-carrito {
    order: 4;
}

.nav-contenedor-buscador img,
.nav-contenedor-carrito img {
    width: 2.5em;
    height: 2.5em;
}

.div-h1 {
    height: 100%;
    font-size: 2em;
    background-image: url(../img/imagenes/main/cervezas.jpg);
    background-size: cover;
    font-family: "Libre Baskerville", serif;
    color: rgba(255, 208, 114, 0.768);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    z-index: 22;
}

.menu-hamburguesa {
    display: none;
    width: 4em;
    height: 4em;
}

/*----------------------------------------MAIN-INDEX------------------------------------- */

main {
    background-color: rgba(0, 0, 0, 0.922);
    height: max-content;
    margin-top: 40em;
    width: 100%;
    position: absolute;
    z-index: 4;
}

.main-contenedor-tarjetas {
    height: max-content;
    display: grid;
    grid-template-areas:
        "vinos vinos vodkas"
        "whiskies cervezas cervezas"
        "aperitivos aperitivos extras";
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 25em 25em 25em;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    justify-content: center;
    padding: 10em 5em;
}

.tarjetas-productos {
    border: 0.2em solid black;
    border-radius: 1em;
    position: relative;
    background-size: cover;
    background-position: center;
}

.tarjetas-productos:hover {
    transform: scale(1.05);
    transition: 1s;
    transition-timing-function: ease-out;
}

.tarjeta-h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 3em;
    color: rgb(211, 186, 43);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------MAIN-PRODUCTOS------------------------------------*/

.main-contenedor-productos {
    display: grid;
    grid-template-areas:
        "aside producto1 producto2 producto3 producto4"
        "aside producto5 producto6 producto7 producto8"
        "aside producto9 producto10 producto11 producto12";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 35em 35em;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin: 10em 0em;
}

.aside {
    color: white;
    height: 100%;
    font-family: "Libre Baskerville", serif;
    font-size: 1em;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-categorias,
.aside-filtros,
.aside-ordenar {
    margin: 3em 0em;
}

.aside-categorias h3,
.aside-filtros h3,
.aside-ordenar h3 {
    padding: 0em 3em 1em 0em;
    border-bottom: 0.1em solid white;
}

.aside-categorias ul,
.aside-filtros ul,
.aside-ordenar ul {
    list-style-type: none;
}

.aside-categorias ul li,
.aside-filtros ul li,
.aside-ordenar ul li {
    margin: 2em 0em;
}

.producto {
    font-family: "Libre Baskerville", serif;
    width: max-content;
    background-color: azure;
    border: 0.2em solid black;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0em;
}

.producto:hover {
    animation: productHover 2s ease-out 0s infinite normal;
}

@keyframes productHover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

.producto img {
    height: 17em;
    width: 16em;
    border-radius: 0.5em 0.5em 0em 0em;
}

.producto-info {
    width: 100%;
    border-radius: 0em 0em 0.5em 0.5em;
    background-color: rgb(244, 228, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    gap: 1em;
}

.producto-info button {
    font-size: 1em;
    font-family: "Libre Baskerville", serif;
    color: rgb(211, 186, 43);
    background-color: black;
    padding: 1em 2em;
    border-radius: 1em;
}

/* --------------------------------------FOOTER------------------------------------------ */
footer {
    position: absolute;
    width: 100%;
    z-index: 6;
    margin-top: 135em;
}

.footer-productos {
    margin-top: 160em;
}

.footer-nosotros {
    margin-top: 120em;
}

.footer-ofertas {
    margin-top: 160em;
}

.footer-contacto {
    margin-top: 128em;
}

.footer-up {
    color: rgb(255, 247, 200);
    background-color: black;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 10em 2em;
}

.footer-up div {
    width: 25%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 2em;
}

.footer-up div img {
    margin-bottom: 3em;
    color: rgb(255, 252, 240);
    width: 8em;
    height: 8em;
}

.footer-up div p {
    width: 100%;
    font-family: "Comfortaa", cursive;
    font-size: 1.2em;
    text-align: center;
}

.footerpadre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: max-content;
    border-top: 0.25em solid rgb(237, 206, 120);
    background-color: rgb(255, 208, 65);
    padding-top: 0.25em;
    bottom: 10%;
}

.footerhijo {
    padding: 4em 0em;

    font-family: "Comfortaa", cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
}

.footerhijo div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.footerhijo div img {
    width: 2em;
    height: 2em;
}

.footerhijo ul li {
    margin: 1em;
    list-style: none;
    font-family: "Comfortaa", cursive;
    padding: 0.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------MAIN-CONTACTOS ----------------------------------*/

.main-contactos {
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.922);
    display: grid;
    grid-template-areas:
        "h2 h2"
        "mapa form"
        "info info";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
}

.contenedor-h2 {
    width: 100%;
    color: rgb(233, 167, 0);
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding: 2em;
    display: grid;
    grid-area: h2;
}

.form {
    background-color: rgb(10, 10, 10);
    border-radius: 2em;
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-area: form;
}

.form fieldset div {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: rgb(198, 183, 20);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form div input,
.form div textarea {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0em 1em;
    font-size: 1em;
    margin: 1em 0em;
    background-color: blanchedalmond;
    border-radius: 0.5em;
    width: 100%;
    height: 3em;
}

.form div textarea {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 7em;
    width: 100%;
}

.contenedor-mapa {
    background-color: rgb(10, 10, 10);
    border-radius: 2em;
    padding: 6em;
    margin: 2em;
    display: grid;
    align-items: center;
    grid-area: mapa;
}

.contenedor-mapa iframe {
    width: 100%;
    height: 100%;
}

.contenedor-info {
    background-color: rgb(10, 10, 10);
    border-radius: 2em;
    margin: 2em;
    display: grid;
    grid-area: info;
    justify-content: center;
}

.contenedor-info div {
    font-family: "Comfortaa", cursive;
    height: max-content;
    font-size: 1.5em;
    margin: 2em;
    display: flex;
    flex-direction: row;
    color: white;
}

.contenedor-info div img {
    margin: 0em 2em;
    width: 1.5em;
    height: 1.5em;
}

/*---------------------------------------MAIN-NOSOTROS------------------------------------*/

.contenedor-nosotros {
    height: max-content;
    padding: 10em 0em 15em;
}

.contenedor-quienesomos {
    background-color: rgb(19, 19, 19);
    border-radius: 2em;
    color: white;
    font-family: "Comfortaa", cursive;
    font-size: 1.2em;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

.contenedor-quienesomos h2 {
    color: rgb(203, 163, 0);
    font-size: 2em;
    padding-bottom: 1em;
}

.contenedor-mvv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-target {
    padding: 3em 0em;
    background-color: rgb(19, 19, 19);
    border-radius: 2em;
    font-family: "Comfortaa", cursive;
    text-align: center;
    margin: 2em 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 38em;
    align-items: center;
    color: white;
}

.contenedor-target h3 {
    color: rgb(203, 163, 0);
    font-size: 2em;
    margin: 2em 0em;
}

.contenedor-target img {
    margin-bottom: 1em;
    width: 6em;
    height: 6em;
}

.contenedor-target p {
    font-size: 1em;
    margin: 0em 2em;
}

/* ------------------------------------Media-Queries-------------------------------------- */

@media screen and (max-width: 1220px) {
    :root {
        font-size: 12px;
    }

    .div-h1 {
        padding-bottom: 6em;
        font-size: 1.8em;
    }

    /* .nav-contenedor-ul {
        display: none;
    } */

    .main-contenedor-tarjetas {
        height: max-content;
        display: grid;
        grid-template-areas:
            "vinos"
            "vodkas"
            "whiskies"
            "cervezas"
            "aperitivos"
            "extras";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 25em);
    }

    .tarjeta-h2 {
        font-size: 2em;
    }

    footer {
        margin-top: 220em;
    }

    .footer-productos {
        margin-top: 200em;
    }

    .footer-contacto {
        margin-top: 168em;
    }

    .main-contenedor-productos {
        grid-template-areas:
            "aside producto1 producto2 producto3"
            "aside producto4 producto5 producto6"
            "aside producto7 producto8 producto9"
            "aside producto10 producto11 producto12";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 35em 35em 35em;
    }

    .main-contactos {
        grid-template-areas:
            "h2"
            "form"
            "mapa"
            "info";
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }

    .contenedor-h2 {
        font-size: 1.5em;
    }

    .form fieldset div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form div input,
    .form div textarea {
        width: 80%;
    }

    .form div textarea {
        width: 80%;
    }

    .contenedor-mapa {
        padding: 2em;
        height: 45em;
    }

    .contenedor-nosotros {
        width: 100%;
    }

    .contenedor-target {
        width: 80%;
        display: flex;
        flex-direction: column;
        height: max-content;
        align-items: center;
        color: white;
    }

    .contenedor-target img {
        width: 4em;
        height: 4em;
        margin: 1em;
    }

    .contenedor-target h3 {
        font-size: 1.5em;
        margin: 1em 0em;
    }

    .footer-nosotros {
        margin-top: 158em;
    }
}

@media screen and (max-width: 780px) {
    :root {
        font-size: 10px;
    }

    nav {
        background-color: rgba(0, 0, 0, 0.476);
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .nav-contenedor-ul {
        display: none;
    }

    .resp-navcontenedormayor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2em;
        width: 100%;
    }

    .respnavcontenedorul {
        visibility: hidden;
        position: absolute;
        list-style: none;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 41em;
        width: 100%;
        left: 0;
    }

    .hamburguesa {
        order: 1;
        background: black;
        z-index: 300;
        border-radius: 1em;
    }

    .resp-nav-contenedor-div {
        order: 2;
    }

    .resp-nav-contenedor-buscador {
        order: 3;
    }

    .resp-nav-contenedor-carrito {
        order: 4;
    }

    .resp-nav-contenedor-div img {
        width: 10em;
        height: 10em;
    }

    .resp-nav-contenedor-buscador img,
    .resp-nav-contenedor-carrito img {
        width: 3em;
        height: 3em;
    }

    .respnavcontenedorul_visible {
        opacity: 1;
        visibility: visible;
        animation-name: menuLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
    }

    @keyframes menuLeft {
        0% {
            transform: translateX(-80em);
        }

        100% {
            transform: translateX(0em);
        }
    }

    .respnavcontenedorul li {
        display: flex;
        height: 100%;
        padding: 2em 0em;
    }

    .respnavcontenedorul a {
        display: flex;
        height: 100%;
        font-family: "Libre Baskerville", serif;
        font-size: 1.2em;
        text-decoration: none;
        color: rgb(211, 186, 43);
    }

    .div-h1 {
        padding-bottom: 12em;
        font-size: 1.2em;
    }

    .aside {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: max-content;
    }

    .aside div {
        margin: 1em 1em;
    }

    .aside ul {
        display: none;
        visibility: hidden;
    }

    .footer-up {
        flex-direction: column;
    }

    .footer-up div {
        width: 80%;
    }

    .footer-productos {
        margin-top: 280em;
    }

    .main-contenedor-productos {
        grid-template-areas:
            "aside aside"
            "producto1 producto2"
            "producto3 producto4"
            "producto5 producto6"
            "producto7 producto8"
            "producto9 producto10"
            "producto11 producto12";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 15em 35em 35em 35em 35em;
    }

    .contenedor-nosotros {
        padding: 10em 0em 45em;
    }

    .footer-nosotros {
        margin-top: 196.5em;
    }
}